/* h1{color: blue; background-color: blueviolet; } */
/* p{color: aquamarine; background-color: blanchedalmond;} */
/* *{background-color: brown;} */
/* h1,h2,h3,h4,h5{
    color: blue;
    background-color: brown; */
/* } */
/* .First_Name{color: greenyellow;}
#Secound_Name{color: yellow;} */




table,tr,td,thea{
    color: brown;
}

/* 
*{color: azure; background-color: blue; } */







table,tr,td{
    color: rgb(243, 34, 34);
}





/* .First_Name{color: blue; }
#First_Name{color: brown;} */