/* #first{
    background-image: url("https://images.unsplash.com/photo-1561397999-fac86d278009?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
}
h1{
    color: brown;
  
   padding-top: 130px;
   padding-left: 180px;
} */
.Image{
    width: 700px;
    height: 500px   ;
    padding-left: 25%;

}
.head{
    text-align: center;
}