body{
    background-color: orange;

}
.one{
    background-color: aliceblue;
    height: 80vh;
    width: 30%;
    position: relative;
    left: 20%;
    transform: rotate(-30deg);
    box-shadow: 5px 5px 4px 3px black;
    border-radius: 5px;
    margin-top: 10%;

}
.two{
    background-color: rgb(0, 0, 0);
    height: 80vh;
    width: 30%;
    position: relative;
    right: 20%;
    transform: rotate(30deg);
    box-shadow: 5px 5px 4px 4px;
    border-radius: 10px;
    margin-top: 10%;
    color: white;

    
}
#main{
    display: flex;

    justify-content: space-between;
}
.three{
    font-size: x-large;
}
.four{
    text-align: center;
}
.five{
    text-align: center;
}
.six{
     position: relative;
     top: 70%;
     text-align: center;
     color: white;
}
a{
    color: white;
}